<% if user_signed_in? %>
  <% if current_user.admin %>
    <div class="row">
      <div class="col-sm-6">
        <h2>Edit <%=@skill.name%></h2>
      </div>
      <div class="col-sm-6">
        <%= render 'form', :object => @skill%>
      </div>
    </div>
  <% else %>
    <h5>Sorry, Permission Denied.</h5>
  <% end %>
<% else %>
  <h5>Please Login</h5>
<% end %>
