<% if user_signed_in? %>
  <% if current_user.admin %>
    <div class="row">
      <div class="col-sm-6">
        <h2>Show off your skills!</h2>
        <h5>Add a skill and watch them populate your homepage</h5>

      </div>
      <div class="col-sm-6">
        <%= render 'form', :object => @skill%>
      </div>
    </div>
  <% else %>
    <h5>Permission Denied, sorry!</h5>
  <% end %>
<% else %>
    <h5> Please Login. </h5>
<% end %>
