<% if user_signed_in? %>
  <% if current_user.admin %>
  <div class="row">
    <div class=" well col-sm-12 secondary-nav edit-delete-skill">
      <%= link_to 'Add Post', new_post_path(@post) %>
    </div>
  </div>
  <% end %>
<% end %>
<div class="comment-success">
</div>
<div class="posts">
  <%= render 'post_list' %>
</div>
