/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  display: block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.comment-form{
  display:none;
}

.thumbnail{
  height:auto;
  width:10px;
}

// .comments{
//   display:none;
// }

// .hide-comments:focus ~ .comments {
//   display: none;
// }
//
// .show-comments:focus ~ .comments {
//   display: block;
// }
//
// .hide-comments:hover, .show-comments:hover{
//   cursor:pointer;
// }

a:hover{
  text-decoration:none;
}

.profile{
  margin:10px;
}

.profile-image{
  width:90%;
  border: 2px solid grey;
  padding:10px;
}

.home-image{
    border:none;
    padding:none;
}

.navbar{
  margin-bottom:25px;
}

.projects{
  text-align:center;

}

.thumbnail{
  width:50%;
  height:auto;
  margin:0 auto;
}

.project{
  margin:20px;
}

.project-image{
  width:100%;
  margin:20px 0px;
  height:auto;
  margin:0 auto;
}

.project-name{
  font-size:20px;
}

.skill-name{
  text-align:center;
  padding:10px;
  width:20%;
  margin:2%;
  margin-top:5px;
}

.well{

}
.skill-name a{
  font-size:25px;
}

.skill-name a:hover{
  font-weight:600;
}

.important{
  color:red;
}

.linkedin-link img{
  width:40px;
  float:left;
  margin-right:10px;
}

.github-link img{
  width:40px;
  float:left;
}

.post-header{
  background-color:teal;
  color:white;
}

.post-content{
  color:black;
  font-size:15px;
}

.post-image{
  width:150px;
}

.post-link{
  color:white;
}

.comment{
  margin-left:30px;
  background-color:purple;
  color:white;
  margin-top:40px;
  padding-bottom:5px;
}

.comment-header{
  margin-left:50px;
  margin-bottom:5px;
}

.comment-content{
  color:black;
  font-size:12px;
  padding-top:10px;
}

.comment-image{
  width:80px;
  border-radius:100%;
}

.comment-image-div{
  position:absolute;
  margin-top:-50px;
  margin-left:-50px;
}
//
// #cont {
//   display: none;
// }
// .show:focus + .hide {
//   display: inline;
// }
// .show:focus + .hide + #cont {
//   display: block;
// }
