/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
 }

 a:hover{
   text-decoration:none;
 }

.profile{
  margin:10px;
}

.profile-image{
  width:75%;
}

.navbar{
  margin-bottom:25px;
}

.projects{
  text-align:center;

}

.thumbnail{
  width:50%;
  height:auto;
  margin:0 auto;
}

.project{
  margin:20px;
}

.project-image{
  width:100%;
  margin:20px 0px;
  height:auto;
  margin:0 auto;
}

.project-name{
  font-size:20px;
}

.skill-name{
  text-align:center;
  padding:10px;
  width:20%;
  margin:2%;
  margin-top:5px;
}

.well{

}
.skill-name a{
  font-size:25px;
}

.skill-name a:hover{
  font-weight:600;
}

.important{
  color:red;
}

.linkedin-link img{
  width:40px;
  float:left;
  margin-right:10px;
}

.github-link img{
  width:40px;
  float:left;
}

.post-header{
  background-color:teal;
  color:white;
}

.post-content{
  color:black;
}

.post-image{
  width:150px;
}

.edit-post-link{
  color:white;
}
